"*":
  "asciidoc-preview": {}
  "atom-beautify":
    general:
      _analyticsUserId: "1dad2bc1-19d0-4f77-9357-7db298775a45"
    js:
      indent_size: 2
    jsx:
      indent_size: 2
    ruby:
      indent_size: 2
      rubocop_path: "rubocop"
  "autocomplete-plus":
    useAlternateScoring: false
  core:
    disabledPackages: [
      "semanticolor"
      "sound"
      "keyboard-sounds"
      "activate-power-mode"
      "atom-typescript"
    ]
    telemetryConsent: "limited"
    themes: [
      "spacegray-eighties-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 2000
  "exception-reporting":
    userId: "a7d292f9-6b29-6a0d-3d11-007be7a733e3"
  "fuzzy-finder":
    ignoredNames: [
      "components/help/"
    ]
  "git-blame":
    columnWidth: 400
    ignoreWhiteSpaceDiffs: true
  "git-plus": {}
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  "linter-rubocop":
    command: "/Users/naveed.kakal/.rbenv/versions/2.2.3/bin/rubocop"
  minimap:
    absoluteMode: true
  "one-dark-ui":
    layoutMode: "Compact"
  react: {}
  semanticolor:
    affectedSourceObjects: {}
    colorDiversity: 84
    saturationLevelA2: 40
    saturationLevelB1: 70
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 2000
".diff.source":
  editor:
    preferredLineLength: 2000
".js.jsx.source":
  editor:
    preferredLineLength: 2000
"linter-rubocop":
  executablePath: "/Users/naveed.kakal/.rbenv/versions/2.1.5/bin/rubocop"
